APP_NAME=Medongaule
APP_ENV=development
APP_KEY=base64:/IWZigMNn70VorCVcPfaNqSq2Fa0eHuFnyulnIpZtbY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Seoul
APP_DOMAIN=localhost
APP_URL="http://${APP_DOMAIN}"
ASSET_URL="${APP_URL}"

APP_LOCALE=ko
APP_FALLBACK_LOCALE=ko
APP_FAKER_LOCALE=kr_KR

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SAME_SITE=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JT_SUPER_ADMIN_NAME=SuperAdmin
JT_SUPER_ADMIN_EMAIL=admin@medongaule.com
JT_SUPER_ADMIN_PHONE=010-0000-0000
JT_SUPER_ADMIN_PASSWORD=admin@1234

JT_NICE_CLIENT_ID=
JT_NICE_SECRET=
JT_NICE_PRODUCT_ID=

JT_KAKAO_CLIENT_ID=
JT_KAKAO_SECRET=

JT_NAVER_CLIENT_ID=
JT_NAVER_SECRET=

JT_EASYPAY_MALL_ID=
JT_EASYPAY_SECRET_KEY=
JT_EASYPAY_TEST_MALL_ID=
JT_EASYPAY_TEST_SECRET_KEY=

JT_ALIGO_APIKEY=
JT_ALIGO_USERID=
JT_ALIGO_SENDERKEY=
JT_ALIGO_SENDER=

JT_GOOGLE_CLIENT_ID=
JT_GOOGLE_SECRET=

JT_KMA_API_KEY=